In [2]:
#nested For
[(a,b) for a in range (1,5) for b in range (11,13)]

[(1, 11), (1, 12), (2, 11), (2, 12), (3, 11), (3, 12), (4, 11), (4, 12)]

In [4]:
tuplelist=[]
for a in range (1,11):
    for b in range(11,13):
        tuplelist.append((a,b))
tuplelist

[(1, 11),
 (1, 12),
 (2, 11),
 (2, 12),
 (3, 11),
 (3, 12),
 (4, 11),
 (4, 12),
 (5, 11),
 (5, 12),
 (6, 11),
 (6, 12),
 (7, 11),
 (7, 12),
 (8, 11),
 (8, 12),
 (9, 11),
 (9, 12),
 (10, 11),
 (10, 12)]

In [16]:
lis1=[] 
lis=[] 
for a in range(1,20):
    for b in range(10,30):
        if b == a**2:
            lis1.append(b)
         
        else:
            lis.append(b)
            
print(tuple(lis1))
print(lis)

(16, 25)
[10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 10, 11, 12, 13, 14, 15, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 26, 27, 28, 29, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29]

# Set: It is collection of distinct object

In [17]:
aSet = {2,3,4,3,4,6,6,5,7,6}
aSet

{2, 3, 4, 5, 6, 7}

In [85]:
lis1 = [2,3,4,3,4,6,6,5,7,6]
lis2=[]
for lis in lis1:
    if lis not in lis2:
        lis2.append(lis)
print(lis2,end="")

[2, 3, 4, 6, 5, 7]

In [46]:
lis1 = [2,3,4,3,4,6,6,5,7,6]
list2 = []
[list2.append(x) for x in lis1 if x not in list2]
list2

[2, 3, 4, 6, 5, 7]

In [49]:
aset=set(lis1)
aset

{2, 3, 4, 5, 6, 7}

In [51]:
#list to set
l1=list(aset)
l1

[2, 3, 4, 5, 6, 7]

In [55]:
#set function
set1={1,2,3,4,5,6}
set2={2,4,5,6,7}
set1.difference(set2)

{1, 3}

In [59]:
#symmetric difference
set2.difference_update(set1)
set2

{2, 4, 5, 6, 7}

In [61]:
set2.discard(1)
set2

{2, 4, 5, 6, 7}

In [62]:
set2.add(3)

In [63]:
set2

{2, 3, 4, 5, 6, 7}

In [70]:
set2.update({8})
set2

{2, 3, 4, 5, 6, 7, 8, 'a'}

In [71]:
#same as extend function of list give iteratable values
aset={1,3}
aset.update("asad")

In [72]:
aset

{1, 3, 'a', 'd', 's'}

In [73]:
adic = {}
v = {1}
type(adic),type(v)

(dict, set)

# dictionary

In [74]:
dic = {'name' : 'Nasir', 'age':50 , "Qual":'BS'}
dic

{'name': 'Nasir', 'age': 50, 'Qual': 'BS'}

In [78]:
print(dic['name'])

Nasir

In [92]:
#2 same key values will update first one
dic1 = {1:"Aaqib",2:"Yasir",2:"Ammar"}
dic1

{1: 'Aaqib', 2: 'Ammar'}

In [93]:
#how to remove element of dictionary
del dic1[1]
dic1

{2: 'Ammar'}

In [96]:
#for loop to iterate dictionary for a in dic1 it default gives keys:
for a in dic1.values():
    print(a)

Ammar

In [98]:
dic1 = {1:"Aaqib",2:"Yasir",3:"Ammar"}
for  a,(b,c) in enumerate(dic1.items()):
    print(a,b,c)

0 1 Aaqib
1 2 Yasir
2 3 Ammar

In [101]:
dic1.popitem()

(3, 'Ammar')

In [105]:
dic1.setdefault(4)
dic1

{1: 'Aaqib', 2: 'Yasir', 4: None}

In [112]:
dic1.fromkeys("")

{}

In [109]:
dic1

{1: 'Aaqib', 2: 'Yasir', 4: None}

# DictionaryComprehension

In [117]:
price_in_rs ={'milk':120,'coffee':150,'bread':50}
print("price in rs",price_in_rs)
dollar=160
price_in_dollars = {key:(value/dollar) for key, value in price_in_rs.items()}
print("price in dollar",price_in_dollars)

price in rs {'milk': 120, 'coffee': 150, 'bread': 50}
price in dollar {'milk': 0.75, 'coffee': 0.9375, 'bread': 0.3125}

In [123]:
price_in_dollars = {key:(value/dollar) for key, value in price_in_rs.items() if key>0.5 }
print("price in dollar",price_in_dollars)

TypeError: '>' not supported between instances of 'str' and 'float'